a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #000;
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
}

/* End Css Resset */


.page-title {
    text-align: center;
    font-size: 250%;
    margin: 2rem 0 4rem 0;
}

#sec-container {
    padding: 0 20px;
}

.sec {
    float: left;
    margin: 0 20px;
    width: calc(33.333% - 40px);
}

.margin-right {
    margin-right: 20px;
}

.sec-title {
    font-size: 175%;
    padding: 10px;
    border: 1px solid black;
    width: 33.3333%;
    text-align: center;
    position: relative;
    top: 0;
    left: 66.6666%;
    line-height: normal;
}
.sec-detail {
    color: black;
    padding: 10px;
    line-height: normal;
    font-size: 125%;
}
article {
    position: relative;
    border: 1px solid black;
    background-color: #b8b8b8;
}
#sec-1 h3 {
    background-color: pink;
}
#sec-2 h3 {
    background-color: darkred;
    color: white;
}
#sec-3 h3 {
    background-color: yellow;
}

@media screen and (max-width: 992px){
    #sec-1, #sec-2 {
        width: calc(50% - 40px);
    }
    #sec-3 {
        margin-top: 40px;
        width: 100%;
        padding-right: 40px !important;
    }
}
@media screen and (max-width: 767px){
    #sec-1 , #sec-2 , #sec-3 {
        margin-bottom: 40px;
        width: 100%;
        padding-right: 40px !important;
    }
    #sec-3 {
        margin-top: 0;
    }
}